@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    letter-spacing:1px;

}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('./background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color:coral;
    padding: 0.6rem;
    position:fixed;
    z-index: 1;
}

header p{
    margin-left: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color:#FFF;
    padding: 0.5rem;
}



.nav li{
    display: flex;
    gap: 5rem;

}


.nav li ul{
    transition: transform 0.2s ease-in;
    cursor: pointer;
    font-size: 1.5rem;
    color: #FFF;
}

.nav li ul:hover{
    transform: scale(1.2);
}

.LOGO{
    font-weight: bolder;
    font-size: 35px;
    transition:transform 0.2s ease-in
}

.LOGO {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      transform: scale(1.2);
    }
  }

.buttons button{
    margin-right: 1rem;
    background-color: #fff;
    color: coral;
    width: 5rem;
    height: 2rem;
    padding: 0.2rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.buttons button:hover{
    transform: scale(1.1);
}

.mainImg img{
    width: 40rem;
    height: 40rem;
    transition: transform 0.3s ease-in-out;
}

.mainImg img:hover{
    transform: scale(1.1);
}


.mainImg{
    background-size: cover;
    background-position: center;
    border-radius: 20px;  
    margin: 1rem 4rem 0 12rem;
}

main{
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainText{
    margin:0 0 0 3rem ;
    color: #FFF;

}

.Title{
    font-size:4rem;
    transition: transform 0.3s ease-in-out;
}

.Title:hover{
    transform: scale(1.05);
}

.mainText p{
    font-size: 1.3rem;
    margin-top: 2.5rem;
    line-height: 2rem;
}

.start{
    margin: 2rem 0 0 4rem;
    background-color:#ef5e20;
    color: white;
    padding: 10px;
    width: 150px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.start:hover{
    color: #ef5e20;
    background-color: white;
}

.courses{
    background-color: #ffaa00;
    margin: 8rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.courses h1{
    color: #FFF;
    font-size: 4rem;
    text-align: center;
}


.course{
    width: 27rem;
    height: fit-content;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin: 3rem 4rem 3rem 1rem;
    color: #7f6613;
    transition: transform 0.3s ease-in-out;
    z-index:0; 

}


.course:hover {
    transform: scale(1.05);
}

.course img{
    margin-left: 0.4rem;
    width: 20rem;
    height: 12rem;
    border-radius: 1rem;
}

.course .title{
   text-align: center;
   margin-top: 1rem;
   color:#e15227;
}

.course p{
    margin-top: 1rem;
}

.course p i{
    margin-right: 0.5rem;
}


.course .price{
    display: flex;
    margin-top: 1rem;
}

.price span{
    margin: 0.4rem 0 0 1.5rem;
    text-decoration: line-through;
}

.course h3{
    margin-top: 1rem;
    color: green;
}

.courseContent{
    display: flex;
}

.btn{
    background-color:chocolate;
    margin: 1rem 3rem 0 0;
    color: white;
    padding: 10px;
    width: 8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

.btn:hover{
    color: #ef5e20;
    background-color: #fff;
}

.moreBtn{
    background-color:#ef5e20;
    color: white;
    padding: 10px;
    width: 300px;
    font-size: 19px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    justify-content: center;
}


.moreBtn:hover{
    color: #ef5e20;
    background-color: white;
    font-size: 20px;
}

.About{
    display: flex;
    margin-top:100px;
    color: #fff;
}


.AboutContent{
    width: 600px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.aboutText{
    margin-top: 50px;
    height: fit-content;
    transition: transform 0.3s ease-in-out;
}

.aboutText:hover{
    border-radius: 10px;
    transform: scale(1.05);
}

.aboutText h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.aboutImge img{
    width: 500px;
    height: 500px;
    margin-right: 150px;
    transition: transform 0.3s ease-in-out;
}

.aboutImge img:hover{
    transform: scale(1.05);
}

.Read{
    background-color:#ef5e20;
    color: white;
    padding: 10px;
    width: 300px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}
.Read:hover{
    color:#ef5e20;
    background-color: #fff;
}

.About i{
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.About i:hover{
    color:#ef5e20;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}
